<div class="postContainer">
  <h2>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</h2>
  <h4>{{post.author.name}}</h4>
  {{#link-to 'post' post.id}}
    <img src={{post.image}} alt={{post.title}} />
    <p class="paddingTop">{{shortBody post.body}}</p>
  {{/link-to}}
  <!-- {{#link-to 'post'}}    link to dynamic post {{/link-to}} -->
</div>
