<div class="postContainer">

  <h2>{{post.title}}</h2>
  <h4>{{#link-to 'user' post.author.id}}{{post.author.name}}{{/link-to}}</h4>
  <img src={{post.image}} alt={{post.title}} />
  <div class="paddingTop">
    
    <p>{{post.body}}</p>
    <p class="blogDate">{{post.date}}</p>
  </div>
</div>
