<h2>{{model.name}}</h2>

<img src={{model.pic}}>

{{new-post author=model save='save'}}

{{#each model.posts as |post|}}
  <h3>{{#link-to 'post' post.id}}{{post.title}}{{/link-to}}</h3>
  {{edit-post post=post edit="edit"}}
  <button class="btn btn-danger" {{action 'delete' post}}>Delete Post</button>
{{/each}}
